---
import Layout from '../layouts/Layout.astro';
import {Avatar} from "../components/Avatar";
---

<Layout title="Welcome to Astro.">
    <div class="w-full bg-cyan-400 md:h-[52vh] h-[78vh]">
        <div class="mx-auto md:text-right pt-6 md:max-w-[914px] text-center">
            <a class="text-base text-primary-black">Contact</a>
            <a class="text-base pl-8 text-primary-black">Article</a>
            <a class="text-base pl-8 text-primary-black">About</a>
        </div>
        <div class="mx-auto md:max-w-[785px] md:mt-20 flex md:justify-between md:gap-[70px] md:flex-row md:px-0 flex-col px-12 mt-11">
            <div class="md:pt-2 w-1/3 h-1/3 md:w-full md:h-full">
                <Avatar/>
            </div>
            <div>
                <h1 class="text-5xl font-bold leading-snug text-primary-black">Heyo! 👋 I'm Darwin! Welcome to my
                    site!</h1>
                <p class="pt-6 text-primary-black">I’m a Frontend engineer specializing in React. Currently working on
                    Workpath as
                    a
                    Product Tech lead. I
                    also write blogs mostly about frontend topics that I find interesting. </p>
                <div class="pt-6 flex gap-4">
                    <button class="bg-primary-black text-white py-2 px-4 hover:bg-gray-800 rounded-lg">Contact</button>
                    <button class="bg-white text-primary-black py-2 px-4 hover:bg-gray-100 rounded-lg">Articles</button>
                </div>
            </div>

        </div>
    </div>
    <div class="p-14">
        <h2 class="text-3xl text-white font-bold pb-10 md:text-center">Recent Articles</h2>
        <div class="flex flex-col gap-10 md:flex-row md:gap-4 md:justify-center ">
            <div class="basis-full md:max-w-[295px]">
                <p class="text-xs text-cyan-400 mb-3">REACT</p>
                <h3 class="text-white text-2xl font-bold mb-4">Don’t worry about re-renders!</h3>
                <p class="text-slate-300 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    metus dolor, sodales ac felis ac, dignissim placerat dolor. </p>
                <p class="text-slate-400">March 2024</p>
            </div>
            <div class="basis-full md:max-w-[295px]">
                <p class="text-xs text-cyan-400 mb-3">REACT</p>
                <h3 class="text-white text-2xl font-bold mb-4">Don’t worry about re-renders!</h3>
                <p class="text-slate-300 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    metus dolor, sodales ac felis ac, dignissim placerat dolor. </p>
                <p class="text-slate-400">March 2024</p>
            </div>
            <div class="basis-full md:max-w-[295px]">
                <p class="text-xs text-cyan-400 mb-3">REACT</p>
                <h3 class="text-white text-2xl font-bold mb-4">Don’t worry about re-renders!</h3>
                <p class="text-slate-300 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    metus dolor, sodales ac felis ac, dignissim placerat dolor. </p>
                <p class="text-slate-400">March 2024</p>
            </div>

        </div>
    </div>
</Layout>
